/*
Theme Name:         FoundationPress
Theme URI:          http://foundationpress.olefredrik.com
Github Theme URI:   https://github.com/olefredrik/FoundationPress
Description:        FoundationPress is a WordPress starter theme based on Foundation 5 by Zurb
Version:            5.5.1
Author:             Ole Fredrik Lie
Author URI:         http://olefredrik.com/

License:            MIT License
License URI:        http://www.opensource.org/licenses/mit-license.php
*/

/* ---------------------------------------------------------------------------- 
  
  Unfortunately WordPress will require a style.css file
  located in the theme's root folder for stuff to work.

  However, we will not be using vanilla CSS. We're using Sass.

  Sass is a superset of CSS that adds in amazing features
  such as variables, nested selectors and loops. It's also
  the easiest way to customize Foundation.

  All Sass files are located in the /scss folder.

  Please read the README.md file before getting started. More info on how
  to use Sass with Foundation can be found here:
  http://foundation.zurb.com/docs/sass.html

  If you for some reason would like to write plain css instead of using Sass,
  you could just enqueue this file (style.css) to the header and add your styles in this file

---------------------------------------------------------------------------- */
div.sticky nav.top-bar.topbar {
  background-color: #fff;
}
ul.main-nav {
  float: right;
  margin-right: -13px;
  margin-top: 34px;

}
ul.main-nav li {
  color: #064771;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  margin-right: 30px;
}
ul.main-nav li a{
  color: #064771;

}
/* SLICK CSS IMAGE SLIDER ----------------------------------------------------*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block; 
    height: auto;
    border: 1px solid transparent;
}
@charset "UTF-8";
.slick-loading .slick-list {
    background: url("./ajax-loader.gif") no-repeat scroll center center #fff;
}
@font-face {
    font-family: "slick";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}
.slick-prev {
    background-image: url("assets/img/arrow-right-small.png");
    background-position: 75% 50%;
}
.slick-next {
    background-image: url("assets/img/arrow-left-small.png");
    background-position: 15% 50%;
}
.slick-prev, .slick-next {
    background-repeat: no-repeat;
    border: medium none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 100%;
    line-height: 0; 
    opacity: 0.01;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 0px;
    width: 90px;
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}
.slick-prev:hover {
    opacity: 0.4;
    color: transparent;
    outline: medium none;
}
.slick-next:hover {
    opacity: 0.4;
    outline: medium none;
}
.slick-prev:hover::before, .slick-prev:focus::before, .slick-next:hover::before, .slick-next:focus::before {
    opacity: 0.05;
    background: no-repeat;
}
.slick-prev.slick-disabled::before, .slick-next.slick-disabled::before {
    opacity: 0.30;
}
.slick-prev::before, .slick-next::before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
}
.slick-prev {
    left: -25px;
}
[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}
.slick-next {
    right: -25px;
}
[dir="rtl"] .slick-next {
    left: -25;
    right: auto;
}
.slick-slider {
    margin-bottom: 12px;
}

.slick-dots {
    bottom: -45px;
    display: block;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.slick-dots li {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    width: 20px;
}
.slick-dots li button {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    outline: medium none;
    padding: 5px;
    width: 120px;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline: medium none;
}
.slick-dots li button:hover::before, .slick-dots li button:focus::before {
    opacity: 1;
}
.slick-dots li button::before {
    color: black;
    content: "•";
    font-family: "slick";
    font-size: 6px;
    height: 20px;
    left: 0;
    line-height: 20px;
    opacity: 0.25;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}
.slick-dots li.slick-active button::before {
    color: black;
    opacity: 0.75;
}
.title img {
    margin-left: -40%;
    margin-top: -2%;
    height: 60%;
    width: 60%;
}
.home-slide {
    position: relative;
}
.slide-text-wrap  {
    position: absolute;
    left: 15%;
    top: 10%;
    z-index: 50;
    width: 50%;
}
.slide-text-wrap2 {
    position: absolute;
    right: 6%;
    top: 42%;
    z-index: 50;
    width: 50%;  
}
.home-slide .home-tagline {
    color: #fff;
    font-size: 44px;

}
.home-slide .home-subtext {
    color: #fff;
    font-size: 17px;
    width: 80%;
}
#home-slide-1 {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100%;
}
#home-slide-2 {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100%;
}
a.home-button {
    background-color: #064771;
    border: solid 2px #fff;
    border-radius: 3px;
    font-weight: bold;
    padding: 14px;
}

@media only screen and (max-width:1980px) {
    .slide-text-wrap {
        position: absolute;
        left: 20.4%;
        top: 20%;
        z-index: 50;
        width: 36%;
    }   
    .home-slide .home-tagline {
        font-size: 38px;
    }
    .home-slide .home-subtext {
        font-size: 18px;
    }
}
@media only screen and (max-width:1440px) {
    .slide-text-wrap {
        position: absolute;
        left: 12%;
        top: 8%;
        z-index: 50;
        width: 50%;
    }   
    .home-slide .home-tagline {
        font-size: 39px;
    }
    .home-slide .home-subtext {
        font-size: 18px;
    }
}
@media only screen and (min-device-width : 768px) and (max-width:1024px) {
    .slide-text-wrap {
        position: absolute;
        left: 5%;
        top: 9%;
        z-index: 50;
        width: 60%;
    }   
    .home-slide .home-tagline {
        font-size: 23px;
    }
    .home-slide .home-subtext {
        font-size: 14px;
    }
}
@media only screen and (max-width:1280px) {
    .slide-text-wrap {
        position: absolute;
        left: 4.8%;
        top: 8%;
        z-index: 50;
        width: 60%;
    }   
    .home-slide .home-tagline {
        font-size: 30px;
    }
    .home-slide .home-subtext {
        font-size: 14px;
    }
}

@media only screen and (max-width:800px) {
    .slide-text-wrap {
        position: absolute;
        left: 5%;
        top: 7%;
        z-index: 50;
        width: 80%;
    }   
    .home-slide .home-tagline {
        font-size: 30px;
    }
    .home-slide .home-subtext {
        font-size: 10px;
        display: none;
    }
}
#home-buildings {
    background-image: url("assets/img/buildings-bg.jpg");
    height: 374px;
    position: relative;
    width: 100%;
}
.home-buildings  {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 8%;

}
div.row a.button.home-button {
    margin-left: 30%;
}
section.our-history h2 {
    font-size: 30px;
    text-align: center;
    color: #064771;
    margin-top: 30px;
    padding-bottom: 20px;
}
section.our-history p {
    font-size: 20px;
    color: #455C6A;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    width: 70%;
}
section div.home-divider {
     border-bottom: solid 1px #064771; 
     margin: 0 auto;
     margin-bottom: 20px;
     width: 320px;
}
footer.main-bottom{
    background-color:  #064771;
    color: #fff;
    text-align: center;
    margin-top: -60px;
    height: 400px;
}
footer.main-bottom h4 {
    color: #fff;
    font-size: 30px;
    margin-top: 40px;
}
footer.main-bottom p.address{
    font-size: 13px;
}
footer.main-bottom p {
    font-size: 1rem;
    padding-left: 14%;
    padding-right: 14%;
}
.service-slide {
    background-color: #064771;
    color: #fff;
    font-size: 13px;
    height: 280px;
    margin: .05%;
    margin-top: 15px;
    padding: 30px;
    width: 200px;
    transition:All 1s ease;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;

}
.services h2 {
     color: #064771;
    font-size: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.service-slide-mid{
    background-color: #a2a4a9;
    color: #fff;
    font-size: 13px;
    margin: .05%;
    padding: 30px;
    z-index: 51;
    height: 320px;
}
section .service-slide p, section .service-slide-mid p {
    color: #fff;
    font-size: 14px;
}
.service-slide h3, .service-slide-mid h3 {
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.service-slide p {
    color:  #fff;
}
section .our-process {
    background-image: url("assets/img/process-bg.jpg");
    height: 638px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.our-process h3 {
    color: #fff;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center
}
#process-wrapper {
    margin: 0 auto;
    width: 1090px;
}
.process {
    color: #fff;
    background-image: url("assets/img/process-bg.png");
    background-repeat: no-repeat;
    font-size: 13px;
    min-height: 240px;
    height: 320px;
    transition:All 1s ease;
    -webkit-transition:All .7s ease;
    -moz-transition:All .7s ease;
    -o-transition:All .7s ease;
    margin: 10px;
    width: 160px;
}
.process h6 {
    margin-top: 60px;
}
p.process-button {
    position: absolute;
    bottom: 40px;
    float: left;
    background-color: #064771;
    border: solid 2px #fff;
    border-radius: 3px;
    font-weight: bold;
    padding: 14px;

 }
.process:hover {
    background-color: #fff;
    background-image: none;
    color: #064771;
    font-size: 16px;
    height: 360px;

}
section .ourprocess .process:hover h6, process:hover p {
    color: #333;
}
section.areas {
    color: #455C6A;
    padding: 100px;
    text-align: center;
}
section.areas ul {
    float: left;
    width: 22%;
    text-align: center;
}
section.areas li {
    list-style-type: none;
}
section.areas p {
    font-size: 1rem;
}
section.areas h4 {
    color:#064771;
    font-size: 30px;
}
#expert-wrap {
    margin: 0 auto;
    width: 720px;
}
.join-wrap {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.join-wrap h3 {
    color: #064771;
    font-size: 30px;
}
.join-wrap p {
    color:  #a2a4a9;
    font-size: 18px;
}
div.off-canvas-wrap div.inner-wrap section.container.scrollme section.join-team div.row div.join-wrap a.button.home-button {
    margin: 0%;
    margin-right: 30px;
    margin-left: 20px;
    padding: 9px;
    margin-bottom: 40px;
    width: 290px;
}
section.our-process {
}
p.process-button {
}
section.team {
    color: #064771;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
section.team img {
    border: solid 1px #ebebeb;
}
.team h3 {
    color: #064771;
    padding: 50px;
    font-size: 30px;
}
section.team div.row div.large-2.columns {
    margin-top: 30px;
    width: 20%;

}
p.title {
    font-size: 13px;
    margin-bottom: 0px;
}
p.name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 10px;
}
div.small-content {
    font-size: 11px;
    position: absolute;

    top: 2px;
    height: 180px;
    width: 191px;
}
section.contact {
    background-image: url("assets/img/form-bg.jpg");
    color: #fff;
    height: 855px;
}
.team-contact a{
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
}
.team-contact {
    line-height: 15px;
}
.team-contact .name {
    font-weight: bold;
    font-size: 15px;
}
.team-contact img {
    height: 15px;
    width: 15px;
    vertical-align: bottom;
}
.blog-index {
    background-image: url("assets/img/blog-header.jpg");
    height: 121px;
    margin-bottom: 30px;
}
.blog-index h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 111px;
}
div.entry-content p.thumb-wrap {
    float: left;
    margin: 18px;
    width: 180px;
}
div.entry-content p {
    color: #6f7074;
    font-size: 19px;
}
#blog-index-wrap {
    margin: 0 auto;
    width: 950px;
}
#blog-index-wrap article {
    border-bottom: 1px solid #6f7074;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#blog-index-wrap header {
    color: #064771;
    font-size: 20px;
}
 h2{
    font-size: 28px;
    margin-bottom: 0px;
}
div#blog-index-wrap  header p {
    text-align: center;
}
.contact form {
    font-size: 20px;
    margin: 0 auto;
}
.contact p {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
h1#contact {
    padding-top: 20px;
}

/* Uncomment everything commented to CSS for the hide/show */


.gallery-item {
    display: block;
    height: auto;
    position: relative;
}

.gallery-item img {

}

.gallery-item:hover .contenthover {
    /*opacity: 0.5; */
}

.contenthover {
    position: absolute;
    top: 0;
    left: 19px;
    margin: 0;
    height: 347px;
    width: 347px;
    color: #fff;
    opacity: .85;
    display: none; 
    background-color: #064771;
   /* transition: all 0.5s ease; */
}
.contenthover p {
    margin: 0 auto;
    margin-top: 10%;
    width: 90%;
}


.carousel-container {
  position:relative;
  width:960px;
}
#carousel {
  height:280px;
  width:960px;
  background-color:#CCC;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  border:2px solid #5d5d5d;
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#000;
}
.carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  position:absolute;
  bottom:33px;
  left:220px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:33px;
  right:220px;
  cursor:pointer;
}